@{
    ViewData["Title"] = "Index";
}

<h2>Geographische Lage, Vegetation</h2>

<p>Die Geographie des Gebietes besteht aus einem bergigen Gelände, einem Hochland und einem dichten Wassersystem in einer Höhe von 1000 m bis 1515 m (Mont Loura). Die Vegetation ist eine Savanne auf dem Hochland im Wechsel mit Waldinseln in den Bergen und Galeriewälder entlang der Flüsse. Die Vegetation wächst auf einem dünnen Boden alternierend mit den Bowal-Wiesen.
Der Boden ist mit Kieselsteinen verschiedener Dimensionen oder mit unfruchtbarem Laterit bedeckt. Mit Maschinen den Boden zu bearbeiten, ist eine Sache der Unmöglichkeit, mit Ausnahmen von einigen Tälern.
Die kombinierte Erscheinung von Bergen und dieser Vegetation verleiht dem Land den Namen „der Wasserturm Westafrikas“, da viele Flüsse aus dieser Region entspringen (Senegal, Gambia, Niger).
</p>
