@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    Sadou Bah<br />
    Agnesstrasse 16, 8004 Zürich<br />
    <abbr title="Phone">P:</abbr>
    +41763607467
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sabanbah@gmail.com">sabanbah@gmail.com</a><br />
</address>
