
@{
    ViewData["Title"] = "Aufzucht";
}

<h2>Aufzucht</h2>

<p>
In der Region praktiziert man die extensive Aufzucht. Die Tiere laufen frei in der Natur herum,
nach Verfügbarkeit der Weidefläche. Die Aufzucht betrifft hier Rinder, Ziegen, Geflügel und Schafe.</p>
<img src="images/elevage.jpg" alt="Vieh">


 <body style="background-color:rgb(55, 114, 44);">

</body> 




