
@{
    ViewData["Title"] = "Aufzucht";
}

<h2>Aufzucht</h2>

<p>
In der Region praktiziert man die extensive Aufzucht. Die Tiere laufen frei in der Natur herum,
nach Verfügbarkeit der Weidefläche. Die Aufzucht betrifft hier Rinder, Ziegen, Geflügel und Schafe.</p>
<img src="http://www.gvs-agrar.ch/webyep-system/daten/71-15-im-Flex-Bild_News_220_x_165-5178.jpg" alt="Maschine">


 <body style="background-color:rgb(43, 122, 128);">

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body> 




