
@{
    ViewData["Title"] = "Aufzucht";
}

<h2><b>Aufzucht </h2></b>

<p>
In der Region praktiziert man die extensive Aufzucht. Die Tiere laufen frei in der Natur herum,
nach Verfügbarkeit der Weidefläche. Die Aufzucht betrifft hier Rinder, Ziegen, Geflügel und Schafe.</p>
<img src="images/elevage.jpg" alt="Vieh" class="center">
 <body style="background-color:rgb(236, 241, 235);"></body> 




