
@{
    ViewData["Title"] = "Agrarsystem";
}

<h2><b>Agrarsystem</h2></b>

<p>Das Agrarsystem ist durch zwei Formen der Landwirtschaft gekennzeichnet: Das Tapade, auch genannt „Hausgarten“, und die externen Felder.
Die Tapaden sind eher Frauenbereiche, weil dort gleichzeitig Mais, Taro, Süßkartoffeln, Maniok, Bohnen, Paprika, Okra, Squash und Ähnliches angepflanzt wird.
Dort befinden sich die Obstbäume wie Mango, Orangen, Avocado, Papaya etc.
Die externen Felder sind Männerbereiche, in denen am meisten Reis und Foniohirse angepflanzt werden. Die Nachhaltigkeit ist durch eine Rotation gewährleistet: ein Jahr oder zwei Jahre Bepflanzung gefolgt von Brachefeldern von mindestens sieben Jahren Dauer.
</p>



 <body style="background-color:rgb(248, 250, 250);">


</body> 




