
@{
    ViewData["Title"] = "Problematik";
}

<h2><b>Problematik</h2></b>
<ol>
<li><b>Austrocknung des Wasserlaufes wegen der Abholzung und der Landwirtschaftspraxis “culture sur brûlis rotatif”.</b><br />
Heute findet eine weitgehende Abholzung statt, nicht nur entlang der Bäche. Das Verschwinden der Vegetation auch auf den großen, herumliegenden Flächen verursacht erhebliche Umweltschäden. Die Böden trocknen aus und werden steinhart. Damit kann das Regenwasser nicht in den Boden versickern und ins Grundwasser gelangen. Die Bäche füllen sich mit Sedimenten und kostbare Erde wird weggeschwemmt.</li>
<br />
<li><b>Reduzierung der Rinderherden, das Verschwinden von wilden Tieren und die Verringerung der Biodiversität.</b><br />
Sowohl das Vieh, das sich frei in der Natur bewegt, als auch die wilden Tiere finden kein Wasser mehr in der Natur. Während das Vieh bis zu den Dörfern vorstösst, um nach Wasser zu “betteln”, bewegen sich die Wildtiere weiter fort, um Wasser zu suchen oder dann zu verdursten.</li>
<br />
<li><b>Rückläufige Ernteerträge</b><br />
Die Erosion des Bodens erklärt die rückläufigen Ernteerträge. Das Resultat ist das Wegschwemmen von Nährstoffen stromabwärts.
Die Bevölkerung kann nicht mehr ausreichend Lebensmittel für die Selbstversorgung produzieren. Folglich herrscht Armut und die Landflucht setzt ein.</li>
</ol>