
@{
    ViewData["Title"] = "Regenmessung";
}

<h2>Regenmessung</h2>

<p>Das Klima ist durch zwei gleich andauernde Jahreszeiten gekennzeichnet: Die Regenzeit (Juni-November) und die Trockenzeit (Dezember-Mai).</p>