
@{
    ViewData["Title"] = "Regenmessung";
}

<h2><b>Regenmessung</h2></b>

<p>Das Klima ist durch zwei gleich andauernde Jahreszeiten gekennzeichnet: Die Regenzeit (Juni-November) und die Trockenzeit (Dezember-Mai).</p>