
@{
    ViewData["Title"] = "Lösungen";
}

<h2><b>Lösungen</h2></b>
<p>Alle oben genannten Probleme haben fast die gleichen Ursachen. Die extreme Abholzung und die ungeeigneten, landwirtschaftlichen
Praktiken. Die Aufforstung des Waldes entlang der Bäche und Flüsse und geeignete landwirtschaftliche Praktiken brächten die Selbstversorgung zurück und es käme zur Wiederherstellung der Biodiversität und der Hydrografie.</p>
<ol>
<li><b>Wiederherstellung des Waldes rund um die Bäche und Flüsse.</b><br />
    Die Wälder im Bereich der Bäche gehören privaten Landbesitzern.
Ohne deren Erlaubnis ist es nicht möglich, dort etwas zu verändern. Den Landbesitzern sollte man die Wälder abkaufen zugunsten des Staates. Die Idee wäre dann, entlang der Bäche ein Gebiet von jeweils hundert Metern als permanente Wälder stehen zu lassen und nie mehr abzuholzen. Die Aufforstung solcher Gebiete würde die Hydrografie in diesem Land garantieren.</li>
    <li><b>Gute landwirtschaftliche Praktiken</b><br />
    <p>Die Regensaison dauert nur sechs Monate im Jahr, und dies auf einem abfallenden Boden, der mit Steinen bedeckt ist. Der Boden, welcher arm an Nährstoffen ist, begünstigt nicht die intensive Landwirtschaft, sondern vielmehr die Subsistenzwirtschaft.
Eine gute Praxis ist hier die Bildung von Terrassen mit den Steinen, die bereits den Boden bedecken. Die Terrassen spielen eine wichtige Rolle.</p>
<img src="/images/Terrasse-bild.jpg" alt="Bild Terrasse" />

<p>Sie ermöglichen die Speicherung von Wasser und seine Infiltration in den Boden. Das wiederum verhindert die Erosion des Bodens; Nährstoffe können in die Erde eindringen und dadurch könnten die Ernteerträge beträchtlich verbessert werden.</p>
    </li>
    <li><b>Begleitmassnahmen</b><br/>Einige Begleitmaßnahmen sind aber nötig, um zu verhindern, dass die Bevölkerung weiterhin mit abgeholztem Material ihre Mahlzeiten zubereitet.</li>
    <li><b>Eine davon ist die Nutzung von effizienten Öfen in den Haushaltungen</b><br/>
    Es gibt keine Elektrizität und die Mahlzeiten werden ausschliesslich mit Holz zubereitet. Die Nutzung von effizienten Öfen würde somit die Abholzung verhindern.
    </li>
    <li><b>Maschinen für die Bearbeitung von Reis, Mais und Foniohirse.</b><br/>
    Die Bearbeitung von Reis, Mais und Foniohirse durch Mörser nimmt sehr viel Zeit in Anspruch. Eine Mechanisierung spart wertvolle Zeit, die für andere Arbeiten investiert werden könnten (zum Beispiel Bildung von Terrassen).
    </li>
<li><b>Verwendung von Stacheldrahtzäunen statt Holzpfählen </b><br/>
Der Schutz der Felder gegen die Wildtiere wird heute durch den Bau von Holzzäunen gewonnen. Durch den Gebrauch von Stacheldraht würde auch hier die weitere Abholzung der Wälder verhindert.  
</li>

</ol>